<main class="layout" xmlns="http://www.w3.org/1999/html">
    <section>
        <div class="hero-section center">
            <div class="slideshow-container">
                {{#with caro}}
                    <div class="slides fade slideActive">

                        <img src="{{picturePath}}" style="width:100%">
                    </div>

                    <div class="slides fade">
                        <img src="{{picturePath1}}" style="width:100%">
                    </div>

                    <div class="slides fade">
                        <img src="{{picturePath2}}" style="width:100%">
                    </div>
                    <section id="dots">
                        <div>
                            <span class="dot dotActive"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        <br>
                    </section>
                {{/with}}
            </div>
        </div>

    </section>
    <section class="flex center flex-flow-row-wr">
        <h1 class="comic-header flex">fresh comics</h1>
    </section>
    <section class="flex center ">
        <div class="flex center flex-flow-row-wr">
            <div class="block flex center"><img src="/images/comic-top-FPO-archie.jpg" /></div>
            <div class="block flex center"><img src="/images/comic-top-FPO-archie.jpg" /></div>
            <div class="block flex center"><img src="/images/comic-top-FPO-archie.jpg" /></div>
            <div class="block flex center"><img src="/images/comic-top-FPO-archie.jpg" /></div>
            <div class="block flex center"><img src="/images/comic-top-FPO-archie.jpg" /></div>
        </div>
    </section>
    <section class="parallax flex margin-twenty" id="events">
        <div class="flex center">
            <div class="flex flex-flow-row-wr uppercase center center-text event-margin-desktop">
                {{#each events as |event|}}
                    {{#with event}}
                        <span class="event-block  flex flex-flow-no-wr center margin-twenty event-card">
            <img src="{{ game.picturePath}}"/>
            <span class="margin-twenty">{{ formatDate startTime }}</span>
               <span> {{ name }} at {{ location }}</span>
                 <span class="margin-twenty lowercase bot-margin-twenty">{{ description }}</span>
        </span>

                    {{/with}}
                {{/each}}

            </div>
        </div>
    </section>
    <section class="flex twin center" id="about">
        <section class="about-header-products flex-flow-row-wr">
            <article class="uppercase about">
                <h1 class="left-text margin-twenty">Proudly serving DFW since 2014</h1>
                <p class="lowercase center">Our goal is to meet all your comic and gaming needs with affordable
                    prices.
                    if you need anything,
                    just <a href="mailto:chroncilesgtc@gmail.com">ask</a>. We'll do our best to
                    accommodate your needs</p>
                <h1 class="margin-twenty">Additional services we offer:</h1>
                <ul class="center-text margin-twenty">
                    <li>New Release Comic Book Subscriptions</li>
                    <li>Convention Booths</li>
                    <li>Collectible Card
                        and Comic Book Collection Appraisal
                    </li>
                </ul>
                <h1 class="margin-twenty">Visit us on social media</h1>
                <ul class="center-text flex flex-flow-row-wr center">
                    <li><a class="fa fa-facebook btn-sm" href="http://www.facebook.com/chroniclesgtc/" target="_blank"></a></li>
                    <li><a class="fa fa-twitter btn-sm" href="http://www.twitter.com/chroniclesDG" target="_blank"></a></li>
                </ul>
            </article>
        </section>
        <article class="uppercase about flex flex-flow-no-wr responsive-fix-899pxt">
            <h1 id="comments" class="flex uppercase center left-text  mobile-text margin-twenty">
                suggestions and event ideas
            </h1>
            <form id="comment-form" class="flex center" action="{{commentAction}}" method="post">
                {{#with comment}}
                    <div class="flex center margin-twenty">
                        <label for="name"></label>
                        <input id="name" type="text" name="name" placeholder="NAME" value="{{name}}"/>
                    </div>
                    <div class="flex center margin-twenty">
                        <label for="email"></label>
                        <input id="email" type="email" name="email" placeholder="EMAIL" value="{{email}}"/>
                    </div>
                    <div class="flex center margin-twenty">
                        <label for="message"></label>
                        <textarea id="message" class="text-area flex" name="message" cols="20" placeholder="MESSAGE"
                                  value="{{message}}"></textarea>
                    </div>
                    <div class="flex center margin-twenty">
                        <button class="btn" type="submit">Send</button>
                        <!--<button class="btn" type="reset"></button>-->
                    </div>
                {{/with}}
            </form>
        </article>
    </section>
    <section class="flex flex-flow-row-wr center margin-twenty">

    </section>
    <section id="stream" class="flex flex-flow-no-wr center-text margin-twenty parallax2">
        <h1 class="margin-twenty">Enjoy our stream!</h1>
        <script src="http://player.twitch.tv/js/embed/v1.js"></script>
        <div class="margin-twenty flex center mobile-hide" id="{PLAYER_DIV_ID}"></div>
        <script type="text/javascript">
            var options = {
                width: 767,
                height: 360,
                channel: "{CHRONICLESGAMES}"
                //video: "{VIDEO_ID}"
            };
            var player = new Twitch.Player("{PLAYER_DIV_ID}", options);
            player.setVolume(0.5, autoplay = false);
        </script>
        <h3 class="uppercase margin-twenty">steaming schedule:</h3>
        <ul>
            <li>Street Fighter V | Thursdays @ 8pm CST</li>
        </ul>
        <h3 class="mobile-show desktop-hide">
            <button class="btn uppercase margin-twenty">
               <a href="http://www.twitch.tv/chroniclesgames" target="_blank">stream link</a>
            </button>
        </h3>
        <div class="margin-twenty"></div>
    </section>
</main>